<nav id="nav" class="pb-4">
    <ul class="nav pb-4 pe-5 pt-3 offset-1">
        <img src="../../../../assets/vector-smart-object.png" class="d-inline-block" alt="logo">
        <li class="nav-item offset-1">
          <a class="nav-link active text-white" href="#">How it works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white nav-active-custom" href="#">My Contests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#" tabindex="-1" aria-disabled="true">My Pins</a>
        </li>
      </ul>
      <div class="div-custom">
          <p class="text-white text-right ">Creative Math Classes Groups</p>
      </div>
      <div class="div-custom-2">
        <p class="text-white text-right offset-3 py-1" style="font-size: 1rem;">This description of creative math classes groups This description of creative math classes groups</p>
    </div>
</nav>
