/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
body{
    background-color: lightgrey !important;
    margin: 0xp !important;
    padding: 0px !important;
}
*.row{
    margin: 0px !important;
    padding: 0px !important;

}

